<style>
.container {
  max-width: {{ .Site.Params.containerMaxWidth | default "700px" | safeCSS }};
}

body {
	margin: 0;
	padding: 0;
	color: #303030; 
	background: rgb(245,250,254); /* Old browsers */
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(178,216,239,1) 100%); /* W3C */
}

a {
	color: #337a33;
	text-decoration: underline;
}

#btitle-border {
  border-bottom: 1px solid #ccc;
}

#btitle {
  padding: 2rem 0 1rem 0;
}
#btitle a {
	font-weight: 400;
  font-size: 26px;
  color: #303030;
  text-decoration: none;
}

#bstitle {
  padding: 0 0 0 0;
}
#bstitle p {
  padding: 0 0 0 0;
  margin: 0 0 0.1rem 0;
}
#bstitle h4 {
	font-weight: 300;
  font-size: 12px;
}

#main {
  margin-top: 1em;
  margin-bottom: 1em;
}

#footer .container {
  padding: 1em 0;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}

.blog-post, .blog-pagination {
  margin-bottom: 1rem;
}

.page-item.disabled .page-link {
  background-color: inherit;
}

.page-link {
  background-color: inherit;
}

.header-box {
	border: 1px solid #808080;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.blog-post-date {
	font-weight: 300;
  font-size: 12px;
}

.blog-post-title {
  margin: 0;
  padding: 0 0 0 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: 26px;
}

.main-box {
	border: 1px solid #808080;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}

.content-2-title {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
  border-bottom: 1px solid #808080;
  border-left: 4px solid #808080;
  padding-left: 5px;
}
.content-2-title h3 {
	font-weight: 500;
  font-size: 20px;
}

.content-3-title {
	margin-top: 15px;
	margin-bottom: 10px;
  border-bottom: 1px solid #808080;
  padding-left: 5px;
}
.content-3-title h3::before {
  margin-right: 3px;
  content: '・';
}
.content-3-title h3 {
	font-weight: 400;
  font-size: 16px;
}


.figure-img {
  margin-bottom: 0.1rem;
  line-height: 1;
}
.figure-caption {
  font-size: 90%;
  color: inherit;
}

.smallbox {
  font-size: 70%;
  border-radius: 0.3rem;
  padding: 0.3rem;
  color: inherit;
}

pre {
  border: 1px solid #ccc;
	background: rgb(70,70,70);
	color: rgb(255,255,255);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
pre code {
	font-family: inherit;
  font-size: inherit;
  color: inherit; 
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 5px;
}
.code-name {
  display: inline-block;
  padding: 2px 4px;
	background: #9090A0;
	color: rgb(255,255,255);
  font-size: inherit;
  border-radius: 0.5rem;
}

pre code span {
	font-family: inherit;
}

hr {
  background-color: #808080;
}

img,
iframe,
embed,
video,
audio {
  max-width: 100%;
}
.card-img,
.card-img-top,
.card-img-bottom {
  width: initial;
}

* {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 400;
}

</style>